@font-face {
    font-family: "OngleleafBuhungHyomi";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyomi/OngleleafBuhungHyomi.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyomi/OngleleafBuhungHyomi.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungHyomi/OngleleafBuhungHyomi.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungHyomi {
    font-family: "OngleleafBuhungHyomi";
}
